{% extends 'layout.html' %}
{% block title %}{{ tournament }} - {% trans 'Tournament' %}{% endblock %}
{% block content %}
    <ol class="breadcrumb">
      <li><a href="/">{% trans 'Tournaments' %}</a></li>
      <li class="active">{{ tournament.name }}</li>
    </ol>

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-tabs">
                {% for round in tournament.rounds_list %}
                    {% if tournament.current_round >= round %}
                        <li{% if tournament.current_round = round %} class="active"{% endif %}><a
                                href="#round{{ round }}"
                                data-toggle="tab">{%  trans 'Round' %} {{ round }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
            <div class="tab-content">
                {% for round, games in tournament.rounds %}
                    <div class="tab-pane{% if tournament.current_round = round %} active{% endif %}"
                         id="round{{ round }}">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>{% trans 'White' %}</th>
                                <th>{% trans 'Score' %}</th>
                                <th>{% trans 'Black' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for game in games %}
                                <tr>
                                    <td>{{ game.player_white }}</td>
                                    <td>{{ game.get_score_display }} </td>
                                    <td>{{ game.player_black }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4">
            <h4>{% trans 'Scoreboard' %}</h4>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>{% trans 'Player' %}</th>
                    <th>{% trans 'Score' %}</th>
                    <th>{% trans 'Elo Rating' %}</th>
                </tr>
                </thead>
                <tbody>
                {% for player in tournament.results %}
                    <tr>
                        <td>{{ player.name }}</td>
                        <td>{{ player.total }} </td>
                        <td>{{ player.rating }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}