{% extends 'layout.html' %}
{% block title %}{% trans 'Tournaments' %}{% endblock %}
{% block content %}
    <ol class="breadcrumb">
        <li class="active">{% trans 'Tournaments' %}</li>
    </ol>

    {% if tournament_list %}
        <table class="table table-striped">
            <thead>
            <th>{% trans 'Tournament name' %}</th>
            <th>{% trans 'Current round' %}</th>
            <th>{% trans 'Total rounds' %}</th>
            </thead>
            <tbody>
            {% for tournament in tournament_list %}
                <tr>
                    <td><a href="/tournament/{{ tournament.id }}/">{{ tournament.name }}</a></td>
                    <td>{{ tournament.current_round }}</td>
                    <td>{{ tournament.rounds_count }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>{% trans 'There are no tournaments' %}</p>
    {% endif %}
{% endblock %}